**__pycache__
src/keys.py
**.DS_store
env/
src/data/csv/*
src/data/json/*
src/output/analysis*

!src/data/.gitkeep
!src/output/.gitkeep
final-presentation.pdf

src/trainer/cached
src/trainer/fantasy
src/trainer/corpus
src/trainer/rick-and-morty
src/trainer/runs
src/trainer/